.dialog {
    border: 1px solid var(--grey-mid);
    background-color: var(--background-lighter);

    width: calc(100% - 48px);
    min-height: 360px;
    max-height: 720px;
}

.body {
    min-height: calc(360px - 48px);
    margin: 6px;
    padding: 18px;
    border: 1px solid var(--grey-light);

    display: grid;
    grid-template-rows: 1fr auto;
    gap: 12px;
}

.content {
    overflow-y: auto;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
