.dialog {
    border: 1px solid var(--grey-mid);
    background-color: var(--background-lighter);
    box-shadow: 0 4px 12px var(--grey-mid);
    padding: 24px 24px 16px 24px;

    max-width: calc(100% - 96px);
    max-height: calc(100% - 96px);
}

.body {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 12px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.button {
    background-color: var(--grey-light);
    border: none;
    padding: 8px 12px;
    color: black;
    font-size: 1rem;
}

.button:hover {
    color: var(--orange-light);
}

.button:active {
    background-color: var(--orange-light);
    color: white;
}
