.searchResults {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding-bottom: 72px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.folder {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--background-mid);
}

.folderHeader {
    position: sticky;
    top: 0px;
    padding: 12px 12px 1rem;

    display: grid;
    grid-template-columns: 1fr minmax(128px, max-content);

    background-color: var(--background-light);
    color: var(--text-secondary);

    cursor: pointer;
}

.folderPath::before {
    content: "📁 ";
    font-size: 0.8rem;
}

.folderName {
    color: var(--text-primary);
    font-weight: 600;

    word-break: break-word;
}

.folderDetails {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.private {
    color: var(--tertiary);
}

.private::before {
    content: "🔒";
}

.queue {
    color: var(--secondary);
}

.queue::before {
    content: "⌛";
}

.speed {
    color: var(--text-secondary);
}

.speed::before {
    content: "↓";
}

.track {
    display: grid;
    grid-template-columns: 1fr min-content minmax(94px, max-content);

    padding: 0 12px;
}

.trackName {
    word-break: break-word;

    padding-left: 12px;
    text-indent: -12px;
    padding-right: 12px;

    cursor: pointer;
}

.trackDetails {
    color: var(--text-secondary);
    text-align: right;
}
