.searchResults {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding-bottom: 72px;
}

.loader {
    border: 1px dotted var(--orange-light);
    margin: 0 12px 0;
    height: 0px;

    transform: translateY(0px);

    /* fade in fade out pulsing animation */
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.user {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: var(--font-family-rounded);
    padding-bottom: 12px;
    border-bottom: 2px inset var(--background-mid);
}

.folderHeader {
    color: var(--text-secondary);
    padding: 8px 12px 0px;
    font-size: 1.25rem;

    position: sticky;
    top: 0px;
    background-color: var(--background-light);

    cursor: pointer;
}

.folderName {
    color: var(--text-primary);
    font-weight: 600;

    word-break: break-word;
}

.folderSubHeader {
    padding: 0px 12px 8px;
    font-size: 1em;

    text-align: right;
}

.private {
    color: var(--gold);
}

.private::before {
    content: "🔒";
}

.queue {
    color: var(--orange-light);
}

.queue::before {
    content: "⌛";
}

.speed {
    color: var(--text-secondary);
}

.speed::before {
    content: "↓";
}

.track {
    display: grid;
    grid-template-columns: 1fr min-content minmax(94px, max-content);

    padding: 0 12px;
}

.trackName {
    word-break: break-word;

    padding-left: 12px;
    text-indent: -12px;
    padding-right: 12px;

    cursor: pointer;
}

.trackDetails {
    color: var(--text-secondary);
    text-align: right;
}
